

  h1, h5, hr, .timesBody {
      color: #eeeeee;
  }

  .dateHeader{
      background: #000000;
      /* margin-right: 220px; */
      text-align: center;
      padding: 10px;
   } 



html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
    width: 0px;
    }