body {
    background-image: url(../imgs/backgrounds/prism/prism.png);
}

nav {
    margin-bottom: 5%;
    color: #000000;
}


footer {
    margin-top: 8%;
}

#logo {
    width: 5%;
    height: 5%;
    filter: drop-shadow(.1);

}

a {
    text-decoration: none;
}

.fab {
    color: #ff5722;
    font-size: 35px;
    margin-right: 10px;
    text-align: center;
}

.card {
    background-color: #eeeeee;
    align-content: center;
    padding: 5px;
    border: #6d6d6d 5px solid;
}

.eventForm {
    background-color: #eeeeee;
    border: #6d6d6d 5px solid;
    padding: 3%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#title {
    color: #ff5722;
    padding-left: 3%;
    border-bottom: #6d6d6d 5px solid;
    /* text-align: center; */
}

button {
    background-color: transparent;
    color: #eeeeee;
    border: #6d6d6d 3px solid;
    margin-right: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    text-decoration: none;
}

.button:hover {
    background-color: #ff5722 !important;
    color: white;
  }


  h1, h5, hr, .timesBody {
      color: #eeeeee;
  }

  .dateHeader{
      background: #000000;
      /* margin-right: 220px; */
      text-align: center;
      padding: 10px;
   } 