body {
    background-image: url(../imgs/backgrounds/prism/prism.png)
}

nav {
    margin-bottom: 5%;
    color: #000000;
}


footer {
    margin-top: 8%;
}

#logo {
    width: 5%;
    height: 5%;
    filter: drop-shadow(.1);

}

a {
    text-decoration: none;
}

.fab {
    color: #26a69a;
    font-size: 35px;
    margin-right: 10px;
    text-align: center;
}

.card {
    background-color: #eeeeee;
    align-content: center;
    padding: 5px;
    border: #6d6d6d 5px solid;
}

.eventForm {
    background-color: #eeeeee;
    border: #6d6d6d 5px solid;
    padding: 3%;
}

#title {
    color: #26a69a;
    padding-left: 3%;
    border-bottom: #6d6d6d 5px solid;
}

button {
    color: #26a69a;
}
